In [19]:
#import Libraries 
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [20]:
def create_server_connection(host_name,user_name,user_passwowrd):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_passwowrd
        )
        print("MySQL Database conneciton successful")
    except Error as err:
        print(f'Error: "{err}"')
    return connection

# Put our MySQL Terminal password
pw = "VaSe@g.c6"

#Database name
db = "mysql_python"

connection = create_server_connection("localhost",'root',pw)

MySQL Database conneciton successful

In [21]:
# Create mysql_python database

def create_database(connection,query):
    cursor = connection.cursor() # it create object that can create sql query
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f'Error: "{err}"')

create_database_query = "Create database mysql_python"
create_database(connection,create_database_query)

Error: "1007 (HY000): Can't create database 'mysql_python'; database exists"

In [29]:
# Connect to database

def create_db_connection(host_name,user_name,user_password,db_name):
    connection = None
    try:
        connection = mysql.connector.connect(host = host_name,
                                             user = user_name,
                                             passwd = user_password,
                                             database = db_name)
        print("MySQL database connection is established.")
    except Error as err:
        print(f'Error "{err}"')
    return connection

In [30]:
# Excecute sql queries
def execute_query(connection, query):
    curs = connection.cursor()
    try:
        curs.execute(query)
        connection.commit()
        print("Query was successful.")
    except Error as err:
        print(f'Error: "{err}"')

In [61]:
create_order_table ="""
create table orders(
order_id int primary key,
customer_name varchar(20) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""

# connect to database
connection = create_db_connection("localhost","root",pw, db)
execute_query(connection,create_order_table)

MySQL database connection is established.
Query was successful.

In [65]:
# Inser data
data_orders = """
insert into orders values
(101,'Steve','Laptop','2018-06-12',2,800,'123456789'),
(102,'Mark','Mobile','2018-06-12',2,200,'456789123'),
(103,'Kelvin','Bucket','2018-06-12',2,8,'678912345'),
(104,'Thomas','Trumpet','2018-06-12',2,100,'912345678'),
(105,'Eve','Pen','2018-06-12',2,1,'345678912');
"""
connection = create_db_connection("localhost","root",pw, db)
execute_query(connection,data_orders)

MySQL database connection is established.
Query was successful.

In [68]:
# Read Results
def read_query(connection,query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f'Error: "{err}"')

In [69]:
# Using the select statement
q1 = """
select * from orders;
"""

connection = create_db_connection("localhost","root",pw, db)
results = read_query(connection,q1)
for result in results:
    print(result)

MySQL database connection is established.
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '123456789')
(102, 'Mark', 'Mobile', datetime.date(2018, 6, 12), 2, 200.0, '456789123')
(103, 'Kelvin', 'Bucket', datetime.date(2018, 6, 12), 2, 8.0, '678912345')
(104, 'Thomas', 'Trumpet', datetime.date(2018, 6, 12), 2, 100.0, '912345678')
(105, 'Eve', 'Pen', datetime.date(2018, 6, 12), 2, 1.0, '345678912')

In [70]:
# Some more queries
q2 = """
select customer_name, phone_number from orders;
"""

connection = create_db_connection("localhost","root",pw, db)
results = read_query(connection,q2)
for result in results:
    print(result)

MySQL database connection is established.
('Steve', '123456789')
('Mark', '456789123')
('Kelvin', '678912345')
('Thomas', '912345678')
('Eve', '345678912')

In [71]:
# Some more queries
q3 = """
select distinct year(date_ordered) from orders;
"""

connection = create_db_connection("localhost","root",pw, db)
results = read_query(connection,q3)
for result in results:
    print(result)

MySQL database connection is established.
(2018,)

In [74]:
# Some more queries
q4 = """
select * from orders where unit_price>100;
"""

connection = create_db_connection("localhost","root",pw, db)
results = read_query(connection,q4)
for result in results:
    print(result)

MySQL database connection is established.
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '123456789')
(102, 'Mark', 'Mobile', datetime.date(2018, 6, 12), 2, 200.0, '456789123')

In [82]:
# Some more queries
q5 = """
select * from orders order by unit_price desc;
"""

connection = create_db_connection("localhost","root",pw, db)
results = read_query(connection,q5)
for result in results:
    print(result)

MySQL database connection is established.
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '123456789')
(102, 'Mark', 'Mobile', datetime.date(2018, 6, 12), 2, 200.0, '456789123')
(104, 'Thomas', 'Trumpet', datetime.date(2018, 6, 12), 2, 45.0, '912345678')
(103, 'Kelvin', 'Bucket', datetime.date(2018, 6, 12), 2, 8.0, '678912345')
(105, 'Eve', 'Pen', datetime.date(2018, 6, 12), 2, 1.0, '345678912')

In [85]:
# creating dataframe 

from_db = []
for result in results:
    result = list(result)
    from_db.append(result)
columns = ['order_id','customer_name','product_name','date_ordered','quantity','unit_price','phone_number']
df = pd.DataFrame(from_db,columns = columns)

display(df)

,order_id,customer_name,product_name,date_ordered,quantity,unit_price,phone_number
0,101,Steve,Laptop,2018-06-12,2,800.0,123456789
1,102,Mark,Mobile,2018-06-12,2,200.0,456789123
2,104,Thomas,Trumpet,2018-06-12,2,45.0,912345678
3,103,Kelvin,Bucket,2018-06-12,2,8.0,678912345
4,105,Eve,Pen,2018-06-12,2,1.0,345678912

In [81]:
# Update command
update = """
update orders
set unit_price = 45
where order_id = 104
"""
connection = create_db_connection("localhost","root",pw, db)
execute_query(connection,update)

MySQL database connection is established.
Query was successful.

In [84]:
# Delete command
delete_order = """
delete from orders
where order_id = 105;
"""
connection = create_db_connection("localhost","root",pw, db)
execute_query(connection,delete_order)

MySQL database connection is established.
Query was successful.

In [ ]:
q = """
select * from links;
"""
connection = create_db_connection("localhost","root",pw, db)
results = read_query(connection,q)
for result in results:
    print(result)

In [ ]:
################################################################################################################################################################
##                                                          Assignment here                                                                                   ##
################################################################################################################################################################

In [110]:
create_order_table ="""
create table links(
links varchar(300) not null);
"""

# connect to database
connection = create_db_connection("localhost","root",pw, db)
execute_query(connection,create_order_table)

MySQL database connection is established.
Query was successful.

In [111]:
# Inser data
for i in range(100):
    data_orders = "insert into links values('"+str(df['0'][i])+"');"
    connection = create_db_connection("localhost","root",pw, db)
    execute_query(connection,data_orders)

MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.
MySQL database connection is established.
Query was successful.

In [112]:
q = """
select * from links;
"""
connection = create_db_connection("localhost","root",pw, db)
results = read_query(connection,q)
for result in results:
    print(result)

MySQL database connection is established.
('https://developers.arcgis.com/rest/',)
('https://enterprise.arcgis.com/en/server/10.3/publish-services/windows/introduction-to-geoprocessing-rest-services.htm',)
('https://sampleserver6.arcgisonline.com/arcgis/rest/services',)
('https://openlayers.org/en/latest/examples/vector-esri.html',)
('https://developers.arcgis.com/rest/enterprise-administration/server/overview/',)
('https://www.esri.com/content/dam/esrisites/en-us/events/conferences/2020/federal-gis/arcgis-rest-api-getting-started.pdf',)
('https://enterprise.arcgis.com/en/server/10.8/administer/linux/scripting-with-the-arcgis-rest-api.htm',)
('https://support.esri.com/en-us/knowledge-base/how-to-access-the-rest-and-admin-endpoints-of-an-arcgis-000027990',)
('https://developers.arcgis.com/javascript/3/jshelp/ags_rest.html',)
('https://gcs-docs.s3.amazonaws.com/EVWHS/Miscellaneous/DevGuides/ESRI_Services/ESRI_rest.htm',)
('http://gisweb.dotd.la.gov/arcgis/SDK/REST/index.html?servicesdirectory.html',)
('https://stategisportal.nic.in/dbt/rest/services/dbt/bank/MapServer/',)
('https://mapscaping.com/arcgis-rest-api-services-in-qgis/',)
('https://developers.arcgis.com/arcgis-rest-js/',)
('https://umd.nic.in/testmap/rest/login?redirect=https%3A//umd.nic.in/testmap/rest/services/SRA/SRA_Department/MapServer/41',)
('https://www.postman.com/esridevs/workspace/arcgis-location-services/overview',)
('https://mapservice.gov.in/mapserviceserv176/rest/login?redirect=https%3A//mapservice.gov.in/mapserviceserv176/rest/services/Street/StreetMap/MapServer/1271/query',)
('https://help.koordinates.com/import-data/connect-arcgis-rest-api-data-source/',)
('https://dnrmaps.wi.gov/arcgis/rest/services',)
('https://cartong.github.io/arcgis-rest-service-export/',)
('https://enviroatlas.epa.gov/arcgis/rest/services',)
('https://www.pagis.org/arcgis/rest/services',)
('https://developers.arcgis.com/rest/users-groups-and-items/',)
('https://www.hendersoncountync.gov/gis/page/use-arcgis-server-web-services-arcmap-or-arcgis-pro',)
('https://gis.blm.gov/arcgis/rest/services',)
('https://environment.data.gov.uk/arcgis/rest/services',)
('https://basemap.nationalmap.gov/ArcGIS/rest/services',)
('https://sampleserver6.arcgisonline.com/arcgis/rest/services/USA/MapServer',)
('https://geocatmin.ingemmet.gob.pe/arcgis/rest/services',)
('https://community.safe.com/integration-8/arcgis-server-rest-api-and-fme-3796',)
('https://enterprise.arcgis.com/en/server/latest/publish-services/linux/services-in-arcgis-enterprise.htm',)
('https://www.geodose.com/2017/08/how-to-use-arcgis-rest-api-service-qgis.html',)
('https://mediaspace.esri.com/media/t/1_p6u9rk5l',)
('https://kygisserver.ky.gov/arcgis/rest/services',)
('https://gis.arkansas.gov/arcgis',)
('https://gis.saskatchewan.ca/arcgis/rest/services',)
('https://gis.investodisha.gov.in/arcgis/rest/services?f=geositemap',)
('https://gis.water.ca.gov/arcgis/rest/services',)
('https://enterprise.arcgis.com/en/server/10.5/create-web-apps/windows/share-gis-services.htm',)
('https://docs.safe.com/fme/html/FME-Form-Documentation/FME-ReadersWriters/arcgisfeatures/arcgisfeatures.htm',)
('https://gismaps.vdem.virginia.gov/arcgis/rest/services',)
('https://www.amapgeo.it/arcgis/rest/login?redirect=https%3A//www.amapgeo.it/arcgis/rest/services/ReteACQ_Rilievo/MapServer/305',)
('https://community.alteryx.com/t5/Alteryx-Designer-Desktop-Discussions/ArcGIS-Rest-API-connection/td-p/746370',)
('https://powerusers.microsoft.com/t5/Building-Flows/Building-HTTP-request-for-a-ArcGIS-Rest-Service/td-p/837348',)
('https://developers.arcgis.com/rest/users-groups-and-items/create-service/',)
('https://gis.stackexchange.com/questions/469898/how-to-get-items-of-a-user-within-a-specific-folder-using-arcgis-rest-api',)
('https://stackoverflow.com/questions/60049860/how-to-get-all-fields-from-arcgis-rest-api',)
('https://en.wikipedia.org/wiki/ArcGIS_Server',)
('https://developers.arcgis.com/rest/network/',)
('https://developers.arcgis.com/rest/geocode/',)
('https://gisweb.pwcva.gov/arcgis/rest/services/AGOL/Pending_Plan/MapServer?f=kmz',)
('https://dtdapps.colorado.gov/server/rest/services/BikePed/ExportWebMap/GPServer',)
('https://developers.arcgis.com/rest/places/',)
('https://maps.murfreesborotn.gov/server/rest/services/BuildingCodes/Permits/MapServer',)
('https://maps.yakimacounty.us/server/rest/services/CountyRoads/Miscellaneous/MapServer',)
('https://spatial.industry.nsw.gov.au/arcgis/rest/services/IndustryView/Lots/MapServer',)
('https://gisweb.pwcva.gov/arcgis/rest/services/AGOL/AGOL/MapServer?f=kmz',)
('https://developers.arcgis.com/rest/enterprise-administration/server/editservice/',)
('https://openlayers.org/en/latest/examples/',)
('http://gis.nola.gov:6080/arcgis/rest/services/dev/strz_finder/MapServer?f=kmz',)
('https://gis4.montgomerycountymd.gov/ArcGIS/rest/services/DOT/purple_line/MapServer?f=kmz',)
('https://mapa.irun.org/arcgis/rest/services/Policia_PMPC_Fiestas/Agentes_Policia_Turno/MapServer',)
('https://maps.doncaster.gov.uk/server/rest/services/Drainage/LLFA_Structures_Published/FeatureServer',)
('https://satupeta.jabarprov.go.id/arcgis/rest/services/repository/SPKLU/MapServer?f=kmz',)
('https://maps.yakimacounty.us/server/rest/services/Irrigation/Lateral_Features_ViewOnlySearch/MapServer',)
('https://gis.dep.pa.gov/depgisprd/rest/services/Assessments/AssessmentLayers/MapServer',)
('http://gis.infrastructure.gov.au/infrastructure/rest/services/Auslink/AuslinkPointClustered/MapServer',)
('https://app2.ge.ch/tergeothematiques/rest/services/GEOLOGIE_MODELE_GEOL_PROFOND/FeatureServer/81',)
('http://gis.nola.gov:6080/arcgis/rest/services/dev/Gray_Districts/MapServer?f=kmz',)
('https://mapprod.environment.nsw.gov.au/arcgis/rest/services/EPIC/EPICCaseReview/MapServer?f=kmz',)
('https://maps.doncaster.gov.uk/server/rest/services/Drainage/LLFA_Structures_Published/MapServer',)
('https://developers.arcgis.com/rest/enterprise-administration/server/handlersrestservicesdirectoryedit/',)
('https://gis.policia.gov.co:6443/arcgis/rest/services/OFTIC/APP_123_OFTIC/MapServer?f=kmz',)
('http://gis.infrastructure.gov.au/infrastructure/rest/services/Auslink/AdministrativeAreas_LGA/MapServer',)
('https://mapa.irun.org/arcgis/rest/services/Policia_PMPC_Fiestas/Agentes_Policia_Turno/FeatureServer',)
('https://gis.policia.gov.co:6443/arcgis/rest/services/OFTIC/SIMEP_AUTOS/MapServer?f=kmz',)
('https://mahere-tst.at.govt.nz/server/rest/services/Assets/RAMM_Carriageway/MapServer',)
('https://developers.arcgis.com/rest/enterprise-administration/server/createservice/',)
('https://developers.arcgis.com/rest/enterprise-administration/server/service/',)
('https://developers.arcgis.com/rest/users-groups-and-items/authentication/',)
('https://developers.arcgis.com/rest/enterprise-administration/server/apisecurity/',)
('https://developers.arcgis.com/rest/enterprise-administration/server/managing-access-to-the-server-administration-rest-api/',)
('https://developers.arcgis.com/rest/enterprise-administration/server/handlersrestservicesdirectory/',)
('https://developers.arcgis.com/rest/users-groups-and-items/portal/',)
('https://developers.arcgis.com/rest/analysis/',)
('https://developers.arcgis.com/rest/enterprise-administration/server/whatsnew/',)
('https://enterprise.arcgis.com/en/server/10.6/administer/windows/scripting-with-the-arcgis-rest-api.htm',)
('https://enterprise.arcgis.com/en/portal/latest/administer/windows/about-the-arcgis-portal-directory.htm',)
('https://developers.arcgis.com/rest/users-groups-and-items/organization-settings/',)
('https://developers.arcgis.com/rest/enterprise-administration/portal/overview-of-portal-administration-in-the-arcgis-rest-api/',)
('https://developers.arcgis.com/rest/enterprise-administration/notebook/getting-started-with-arcgis-notebook-server-rest-api/',)
('https://developers.arcgis.com/rest/users-groups-and-items/common-parameters/',)
('https://enterprise.arcgis.com/en/server/10.8/develop/windows/example-edit-service-properties.htm',)
('https://enterprise.arcgis.com/en/server/latest/deploy/windows/components-of-arcgis-urls.htm',)
('https://enterprise.arcgis.com/en/portal/latest/administer/windows/scripting-with-the-arcgis-rest-api.htm',)
('https://services.arcgis.com/P3ePLMYs2RVChkJx/ArcGIS/rest/services',)
('https://doc.arcgis.com/en/arcgis-online/reference/arcgis-server-services.htm',)
('https://developers.arcgis.com/rest/enterprise-administration/enterprise/find-services/',)
('https://developers.arcgis.com/rest/users-groups-and-items/servers/',)
('https://enterprise.arcgis.com/en/server/latest/administer/linux/hiding-a-service-in-the-arcgis-server-services-directory.htm',)

In [104]:
results

[]

In [92]:
import pandas as pd
df = pd.read_csv("C:\\V\\coding_placement\\web_scraping\\selenium\\links.csv")

In [50]:
for _ in range(100):   
    query1 = 'insert into links values(' +df['0'][i] +  ');'
    execute_query(connection,query1)

Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://enterprise.arcgis.com/en/server/10.3/publish-services/windo' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://sampleserver6.arcgisonline.com/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://openlayers.org/en/latest/examples/vector-esri.html)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/enterprise-administration/server' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://www.esri.com/content/dam/esrisites/en-us/events/conferences' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://enterprise.arcgis.com/en/server/10.8/administer/linux/scrip' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://support.esri.com/en-us/knowledge-base/how-to-access-the-res' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/javascript/3/jshelp/ags_rest.html)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gcs-docs.s3.amazonaws.com/EVWHS/Miscellaneous/DevGuides/ESR' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(http://gisweb.dotd.la.gov/arcgis/SDK/REST/index.html?servicesdirect' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://stategisportal.nic.in/dbt/rest/services/dbt/bank/MapServer/' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://mapscaping.com/arcgis-rest-api-services-in-qgis/)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/arcgis-rest-js/)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://umd.nic.in/testmap/rest/login?redirect=https%3A//umd.nic.in' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://www.postman.com/esridevs/workspace/arcgis-location-services' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://mapservice.gov.in/mapserviceserv176/rest/login?redirect=htt' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://help.koordinates.com/import-data/connect-arcgis-rest-api-da' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://dnrmaps.wi.gov/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://cartong.github.io/arcgis-rest-service-export/)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://enviroatlas.epa.gov/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://www.pagis.org/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/users-groups-and-items/)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://www.hendersoncountync.gov/gis/page/use-arcgis-server-web-se' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis.blm.gov/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://environment.data.gov.uk/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://basemap.nationalmap.gov/ArcGIS/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://sampleserver6.arcgisonline.com/arcgis/rest/services/USA/Map' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://geocatmin.ingemmet.gob.pe/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://community.safe.com/integration-8/arcgis-server-rest-api-and' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://enterprise.arcgis.com/en/server/latest/publish-services/lin' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://www.geodose.com/2017/08/how-to-use-arcgis-rest-api-service-' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://mediaspace.esri.com/media/t/1_p6u9rk5l)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://kygisserver.ky.gov/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis.arkansas.gov/arcgis)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis.saskatchewan.ca/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis.investodisha.gov.in/arcgis/rest/services?f=geositemap)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis.water.ca.gov/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://enterprise.arcgis.com/en/server/10.5/create-web-apps/window' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://docs.safe.com/fme/html/FME-Form-Documentation/FME-ReadersWr' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gismaps.vdem.virginia.gov/arcgis/rest/services)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://www.amapgeo.it/arcgis/rest/login?redirect=https%3A//www.ama' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://community.alteryx.com/t5/Alteryx-Designer-Desktop-Discussio' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://powerusers.microsoft.com/t5/Building-Flows/Building-HTTP-re' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/users-groups-and-items/create-se' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis.stackexchange.com/questions/469898/how-to-get-items-of-' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://stackoverflow.com/questions/60049860/how-to-get-all-fields-' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://en.wikipedia.org/wiki/ArcGIS_Server)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/network/)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/geocode/)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gisweb.pwcva.gov/arcgis/rest/services/AGOL/Pending_Plan/Map' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://dtdapps.colorado.gov/server/rest/services/BikePed/ExportWeb' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/places/)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://maps.murfreesborotn.gov/server/rest/services/BuildingCodes/' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://maps.yakimacounty.us/server/rest/services/CountyRoads/Misce' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://spatial.industry.nsw.gov.au/arcgis/rest/services/IndustryVi' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gisweb.pwcva.gov/arcgis/rest/services/AGOL/AGOL/MapServer?f' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/enterprise-administration/server' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://openlayers.org/en/latest/examples/)' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(http://gis.nola.gov:6080/arcgis/rest/services/dev/strz_finder/MapSe' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis4.montgomerycountymd.gov/ArcGIS/rest/services/DOT/purple' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://mapa.irun.org/arcgis/rest/services/Policia_PMPC_Fiestas/Age' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://maps.doncaster.gov.uk/server/rest/services/Drainage/LLFA_St' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://satupeta.jabarprov.go.id/arcgis/rest/services/repository/SP' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://maps.yakimacounty.us/server/rest/services/Irrigation/Latera' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis.dep.pa.gov/depgisprd/rest/services/Assessments/Assessme' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(http://gis.infrastructure.gov.au/infrastructure/rest/services/Ausli' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://app2.ge.ch/tergeothematiques/rest/services/GEOLOGIE_MODELE_' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(http://gis.nola.gov:6080/arcgis/rest/services/dev/Gray_Districts/Ma' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://mapprod.environment.nsw.gov.au/arcgis/rest/services/EPIC/EP' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://maps.doncaster.gov.uk/server/rest/services/Drainage/LLFA_St' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/enterprise-administration/server' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis.policia.gov.co:6443/arcgis/rest/services/OFTIC/APP_123_' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(http://gis.infrastructure.gov.au/infrastructure/rest/services/Ausli' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://mapa.irun.org/arcgis/rest/services/Policia_PMPC_Fiestas/Age' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://gis.policia.gov.co:6443/arcgis/rest/services/OFTIC/SIMEP_AU' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://mahere-tst.at.govt.nz/server/rest/services/Assets/RAMM_Carr' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/enterprise-administration/server' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/enterprise-administration/server' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/users-groups-and-items/authentic' at line 1"
Error: "1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order values(https://developers.arcgis.com/rest/enterprise-administration/server' at line 1"

In [93]:
'insert into order values(' +df['0'][0] +  ');'

'insert into order values(https://developers.arcgis.com/rest/);'

In [57]:
query1 = """
insert into links values("ABC");
"""

# query1 = """
# select * from links;
# """
execute_query(connection,query1)

InternalError: Unread result found

In [60]:
curs.fetchall()

NameError: name 'curs' is not defined